{{ $data := index .Site.Data }}
{{ with $data.memberResources }}
    {{if .enable}}
    <section class="member-resources section">
        <div class="container">
            <div class="row">
                <!-- Talk Slides-->
                <div class="col-md-6">
                    <!-- Talk Slides Title -->
                    <div class="title text-center">
                        {{ with .slideTitle }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                    </div>
                    <!-- Talk Slide links -->
                    <div>
                        {{ range .item }}
                        <div class="text-center p-1">
                            <a href={{.link}} target=_blank>
                                {{ .title }}
                            </a>
                        </div>
                        {{ end}}
                    </div>
                </div>
                <!-- Join Us Discord Link -->
                <div class="col-md-6">
                    <!-- Discord Title -->
                    <div class="title text-center">
                        {{ with .discordTitle }}
                            <h2>{{ . }}</h2>
                            <span class="border"></span>
                        {{ end }}
                    </div>
                    <!-- Discord Link -->
                    <div class="text-center">
                        <a href={{.discordLink}} target="_blank">
                            <img src={{.discordIcon | absURL}} width=65px>
                        </a>
                        <a href={{.discordLink}} target="_blank">
                            <h3>{{.discordLink}}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ end }}
{{ end }}