{{ $data := index .Site.Data }}
{{ with $data.sponsors }}
    {{ if .enable }}
    {{ "<!-- Client Section Start -->" | safeHTML }}
    <section class="section bg-gray">
        <div class="container">
            <!--Title and Description-->
            <div class="row bg-gray">
                <div class="title col-sm-12 text-center">
                    {{ with .title }}<h2>{{.}}</h2>{{ end }}
                    <span class="border"></span>
                    {{ with .description }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <!--Image of Waving Robot-->
            <div class="row justify-content-center">
                <!--Sponsor Image-->
                <div class="col-md-6 text-center">
                    {{ with .image }}<img class="img-fluid bg-transparent rounded" src="{{ . | absURL }}" alt="service-image" width=60%>{{ end }}
                </div>
                <!--Contact Email-->
                <div class="col-sm-6 my-auto">
                    <div class="text-center">
                        {{ with .emailIcon }}<img class="bg-transparent" src="{{ . | absURL }}" alt="service-image" width=20%>{{ end }}
                    </div>
                    <div class="text-center">
                        <h2>uteclair@gmail.com</h2>
                    </div>
                </div>
            </div>
            <!--Sponsors-->
            <div class="row">
                <div class="col-md-12">
                    <div id="clients-slider" class="clients-logo-slider">
                        {{ range .clientLogo }}
                        <img src="{{ .image | absURL }}" alt="client-logo">
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ "<!-- Client Section End -->" | safeHTML }}
    {{ end }}
{{ end }}
